.ratingTitle {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
    font-size: 17pt;
    line-height: 1.2em;
}

.ratingCss {
    margin-left: 6%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 25pt;
    width: 100%;
    .Button {
        padding-right: 5px;
    }
}
.innerContent{
    display:flex;
    flex-direction: column;
}

#tip{
    font-size: 10pt;
}