.ratingTitle {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
    font-size: 17pt;
    line-height: 1.2em;
}

.ratingCss {
    margin-left: 6%;
    font-size: 25pt;

    .Button {
        padding-right: 5px;
    }
}