.imageSection {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 13pt;
    margin-top: 2%;
    color: rgba(60, 60, 60, 0.8)
}

.text {
    padding-top: 2%;
    line-height: 1.3em;
}
.image {
    max-width: 800px;
    height: auto;
}
.score {
    font-size: 15pt;
    padding-top: 2%;
    text-align: center;
    font-weight: bold;
}

.intro {
    margin-top: 2%;
    font-size: 13pt;
    line-height: 1.2em;
}

.introTitle {
    font-weight: bold;
    font-size: 17pt;
    line-height: 2em;
}

.introContent {
    font-size: 12pt;
    line-height: 1.3em;
    h1 {
        font-size: 13pt;
    }

    h2 {
        font-size: 12pt;
    }
}

.introClick {
    color: rgba(60, 60, 60, 0.8);
    font-weight: bold;
}

.introClick:hover {
    text-decoration: underline
}