
h1{
    font-size: 50px;
  }


.already{
    text-align: center;
}

.signUpContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ui.form{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 300px;
}

.ui.button{
    margin-bottom: 20px;
}

.input-container{
    display: flex;
    justify-content: space-between;

}