.carousel {
    margin-right: 6%;
    margin-left: 6%;
    
    .screenshotsCss {
        display: block;
        margin: 0 auto;
        max-width: 350px;
        height: auto;
     }

     .screenshotTitle {
        font-family: 'PT Sans Caption', sans-serif;
        margin-left: 6%;
        margin-right: 6%;
        font-weight: bold;
        font-size: 17pt;
        line-height: 2em;
     }
 }
 .centerText{
     text-align: center;
 }
 